@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  font-weight: normal;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  flex: 1 1 auto;
}
